@use '../variables.scss' as v;

.menu-lateral{
    display: flex;
    flex-flow: column;
    max-width: 80px;
    height: 100vh;
    background-color: v.$primary-color;
    
    // position: fixed; /* Fixa o menu na tela */
    // top: 0; /* Posiciona no topo da tela */
    // left: 0; /* Alinha à esquerda */

    .serch{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
    }
    
    .botao-menu-lateral{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &[selected] {
            .custom-fab {
                border-radius: 50px;
                min-width: 56px;
                background-color: v.$secondary-container !important; // Substitua pelo seu código de cor
                color: v.$font-color-secondary !important; // Altere a cor do ícone/texto se necessário
            }
        }
        
        .custom-fab {
            border: 0;
            background-color: v.$transparent !important; // Substitua pelo seu código de cor
            color: v.$font-color-secondary-light !important;

            & :hover,
            & :active,
            & :focus{
                border-radius: 50px;
                min-width: 56px;
                background-color: v.$secondary-container !important; // Substitua pelo seu código de cor
                color: v.$font-color-secondary !important; // Altere a cor do ícone/texto se necessário
            }
        }

        span{
            color: v.$font-color-secondary-light;
        }
    }
}